.error {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #f40b0b;
}


.checked {
  color: #FFD3B4;
}

.map {
  height: 200px;
  width: 100%;
}

.logged-user-comment {
  /* border: 1px solid #bebebe; */
  margin: 1em 2em;
  /* font-family: 'Quicksand', sans-serif; */
}

.comment-success {
  padding: 2em;
}

.comment-success input {
  border: 1px solid rgb(40, 167, 69);
  box-shadow: 0 0 10px rgb(40, 167, 69);
  padding: 2em;
  color: rgb(40, 167, 69);
}

input[type='radio']:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #98DDCA;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgb(152, 221, 202);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(152 221 202 / 50%);
}

.btn-green {
  background-color: #98DDCA;
  border: 1px solid #7cd4bc;
}

.btn-pink {
  background-color: #FFAAA7;
  border: 1px solid #ff8a86;
}

.btn-pink-invert {
  background-color: #FFAAA7;
  border: 1px solid #ff8a86;
  color:white;
}

.btn-green-invert {
  background-color: #98DDCA;
  color:white;
  border: 1px solid #7cd4bc;
}

.text-green {
  color:#6cceb3
}

.text-pink {
  color:#ff8a86;
}

.btn-orange {
  background-color: #FFD3B4;
  border: 1px solid #ffbb8b;
}

.text-orange {
  color: #ffaa6e;
}