.error {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #f40b0b;
}

.success {
  outline: none !important;
  border: 1px solid green;
  box-shadow: 0 0 10px green;
}

.checked {
  color: orange;
}

.map {
  height: 200px;
  width: 100%;
}

.logged-user-comment {
  /* border: 1px solid #bebebe; */
  margin: 1em 2em;
  /* font-family: 'Quicksand', sans-serif; */
}

.comment-success {
  padding: 2em;
}

.comment-success input {
  border: 1px solid rgb(40, 167, 69);
  box-shadow: 0 0 10px rgb(40, 167, 69);
  padding: 2em;
  color: rgb(40, 167, 69);
}
